# requirements-base.in
# Core system and data handling for all layers
psutil
pandas
numpy

scipy # Required by pandas, scikit-learn, etc.

watchdog  # Added for Layer 0 Real-time File Monitoring

fastapi # Web framework that will help hold the multiple apps
pydantic # For data validation
uvicorn # ASGI server that will carry the code, handling multiple connections while maintaining speed
streamlit # Primary UI framework

plotly